
@{
    ViewBag.Title = "Cargar usuario";
}
<div class="container">
    <h2>Cargar usuario</h2>

    <form method="post" action="/User/Create">
        <label for="firstName">Nombre</label>
        <div>
            <input type="text" class="form-control" id="firstName" name="firstName" value="" placeholder="">
        </div>
        <label for="lastName">Apellido</label>
        <div>
            <input type="text" class="form-control" id="lastName" name="lastName" value="" placeholder="">
        </div>

        <label for="email">Email</label>
        <div>
            <input type="text" class="form-control" id="email" name="email" value="" placeholder="">
        </div>
        <label for="city">Ciudad</label>
        <div>
            <input type="text" class="form-control" id="city" name="city" value="" placeholder="">
        </div>
        <label for="country">País</label>
        <div>
            <input type="text" class="form-control" id="country" name="country" value="" placeholder="">
        </div>

        <button type="submit" class="btn button-success color-success">Guardar</button>
    </form>
</div>
