<!DOCTYPE html>
<html>
<head>
	<meta htt-equiv="Content-Type" content="text/html; charset-utf-8" />
	<meta name="viewport" content="width-device-width, initial-scale-1.0" />

	<title>ART - Market</title>
	<link href="~/Content/Site.css" rel="stylesheet" />
</head>
<body>
	<div>
		<header>
			<nav class="header_menu">
				<ul>
					<li><a href="/">Inicio</a></li>
					<li><a href="/Product">Productos</a></li>
					<li><a href="/Home/Contact">Contacto</a></li>
				</ul>
			</nav>

			<ul class="icon_headers">
				<li>
					<a href="/Cart">
						<img class="icon" src="~/Content/Images/cart.icon.png" />
					</a>
				</li>
				<li>
					<a href="/User">
						<img class="icon" src="~/Content/Images/user.icon.png" />
					</a>
				</li>
			</ul>
		</header>
		<section>
			<article class="body">
				@RenderBody()
			</article>
		</section>
		<!--
		<aside>
			<article>
			</article>
		</aside>
		-->
		<footer>
			<div>
				<img class="icon" src="~/Content/Images/evenlope.icon.png" />
				<p>Art Market - @DateTime.Now.Year</p>
			</div>

			<!--
			<div class="footer_icon">
				<img src="~/Content/Images/user.icon.png" />
			</div>
			<div class="footer_label">
				<p>Art Market - @DateTime.Now.Year</p>
			</div>
				-->
		</footer>
	</div>
	@RenderSection("scripts", required: false)
</body>
</html>