
@{
    ViewBag.Title = "Cargar producto";
}

<h2>Cargar producto</h2>

<form method="post" action="/Product/Create">
    <label for="title">Título</label>
    <div>
        <input type="text" class="form-control" id="title" value="" placeholder="">
    </div>
    <label for="description">Descripción</label>
    <div>
        <input type="text" class="form-control" id="description" value="" placeholder="">
    </div>
    <label for="artistId">Artista</label>
    <div>
        <input type="text" class="form-control" id="artistId" value="" placeholder="">
    </div>
    <label for="image">Imagen</label>
    <div>
        <input type="text" class="form-control" id="image" value="" placeholder="">
    </div>
    <label for="price">Precio ($)</label>
    <div>
        <input type="text" class="form-control" id="price" value="" placeholder="">
    </div>

    <button type="submit" class="btn button-success color-success">Guardar</button>
</form>